<h1 class="page-header">Forms</h1>

<ul class="nav nav-tabs">
  <li role="presentation" ng-class="{'active' : $location.url().indexOf('forms') != -1}">
  	<a href="#/forms">Forms</a>
  </li>
  <li role="presentation">
  	<a href="#/user">Fields</a>
  </li>
</ul>

<div class="table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th><span class="glyphicon glyphicon-menu-down sort-icon"></span>Form Title</th>
				<th><span class="glyphicon glyphicon-menu-down sort-icon"></span>Action</th>
			</tr>
			<tr>
				<td>
					<input ng-model="model.selectedForm.title" type="text" class="form-control" placeholder="Title">
				</td>
				<td class="text-center">
					<button ng-click="model.addForm(model.selectedForm)" class="glyphicon glyphicon-plus action-icon"></button>
					<button ng-click="model.updateForm(model.selectedForm)" class="glyphicon glyphicon-ok action-icon"></button>
				</td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="form in model.forms">
				<td class="form-list">
					<a ng-href="#/user/{{form.userid}}/form/{{form.id}}/fields">{{form.title}}</a>
				</td>
				<td class="form-list text-center">
					<button ng-click="model.deleteForm($index)" class="glyphicon glyphicon-remove action-icon"></button>
					<button ng-click="model.selectForm($index)" class="glyphicon glyphicon-pencil action-icon"></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>