<h1><span class="label label-primary">{{model.breweryName}}</span> Your Beer Dashboard</h1>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Beer</th>
                <th>Unit Price</th>
                <th>Ratings</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="beer in model.rows">
                <td><a href="#/beer-info/{{beer.beerid}}">{{beer.name}}</a></td>
                <td>{{beer.unitPrice}}</td>
                <td>
                    <div class="container-fluid">
                        <div class="row">
                            <label class="col-xs-4 col-sm-3 col-md-2">Smell:</label>
                            <div class="col-xs-8 col-sm-9 col-md-10">
                                <span ng-if="beer.averages.avgSmell == undefined">Not Yet Rated</span>
                                <span ng-if="beer.averages.avgSmell != undefined"
                                      ng-repeat="star in model.getNumber(beer.averages.avgSmell) track by $index"
                                      class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3 col-md-2">Taste:</label>
                            <div class="col-xs-8 col-sm-9 col-md-10">
                                <span ng-if="beer.averages.avgTaste == undefined">Not Yet Rated</span>
                                <span ng-if="beer.averages.avgTaste != undefined"
                                      ng-repeat="star in model.getNumber(beer.averages.avgTaste) track by $index"
                                      class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3 col-md-2">Hops:</label>
                            <div class="col-xs-8 col-sm-9 col-md-10">
                                <span ng-if="beer.averages.avgHops == undefined">Not Yet Rated</span>
                                <span ng-if="beer.averages.avgHops != undefined"
                                      ng-repeat="star in model.getNumber(beer.averages.avgHops) track by $index"
                                      class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-sm-3 col-md-2">Malts:</label>
                            <div class="col-xs-8 col-sm-9 col-md-10">
                                <span ng-if="beer.averages.avgMalts == undefined">Not Yet Rated</span>
                                <span ng-if="beer.averages.avgMalts != undefined"
                                      ng-repeat="star in model.getNumber(beer.averages.avgMalts) track by $index"
                                      class="glyphicon glyphicon-star"></span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>