body { 
	padding-top: 50px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.search {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: solid white;
	border-bottom: solid black 1px;
	background-color: #b0a18e;
}

.result-row {
	padding-bottom: 30px;
}

.result-tile > div > img {
	max-height: 150px;
	max-wdith: 150px;
	min-height: 50px;
	min-width: 50px;
}
.result-tile > label {
	padding-top: 10px;
}

.green {
	color: green;
}

.red {
	color: red;
}