body { 
	padding-top: 50px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

tfoot > tr {
	background-color: #EEEBE7;
	border-top: black 2px solid;
}

.content {
	padding-top: 68px;
}

#search-div {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: solid #eee;
	border-bottom: solid black 1px;
	background-color: #b0a18e;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

#search-result-header {
	padding-top: 20px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: white;
	border-bottom: solid black 1px;
}
#search-result-header > div > h1 {
	padding: 0;
}
#search-result-header > div > label {
	margin-top: 20px;
	height: 34px;
}

#search-result-content {
	padding-top: 174px;
}
@media (min-width: 768px) {
	#search-result-content {
		padding-top: 119px;
	}
}

.result-row {
	padding-bottom: 30px;
}

.result-tile > div > img {
	max-height: 150px;
	max-width: 150px;
	min-height: 50px;
	min-width: 50px;
}
.result-tile > label {
	padding-top: 10px;
}

.sidebar {
	background-color: #EEEBE7;
	padding: 20px;
}
.sidebar > div > img {
	max-height: 175px;
	max-width: 175px;
	min-height: 50px;
	min-width: 50px;
}
.sidebar > div {
	width: 100%;
	padding-top: 10px;
}
.sidebar > form {
	padding-top: 20px;
}
@media (min-width: 768px) {
	.sidebar {
		position: fixed;
		top: 119px;
		bottom: 0;
		left: 0;
		z-index: 1000;
		padding: 20px;
		display: block;
		background-color: #EEEBE7;
		border-right: 3px solid #eee;
	}
	.sidebar > form {
		padding-top: 30px;
	}
}

#beer-info-title {
	padding-bottom: 0;
}

#brewery-link-title {
	padding-bottom: 15px;
}

.rating {
	padding-left: 0;
}

.green {
	color: green;
}

.red {
	color: red;
}

#beer-comment-form > div,
#beer-comment-form > div > div {
	padding-left: 0;
}

#beer-comment-submit {
	margin-top: 10px;
}

#user-comments {
	padding-top: 50px;
}

.comment {
	padding-bottom: 30px;
	border-top: solid 2px #eeeeee;
}

#brewery-beers-link {
	margin-top: 20px;
}

.checkout-title {
	padding-top: 30px;
	padding-bottom: 10px;
}

#username-btn {
	background: none;
	border: none;
	outline: none;
	margin: 0;
	padding-left: 15px;
	padding-right: 15px;
	height: 50px;
	vertical-align: middle;
}

#link-menu > li > a,
#link-menu > li > button {
	color: white;
}

.popover-link {
	white-space: nowrap;
}