body { 
	padding-top: 50px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

.content {
	padding-top: 68px;
}

.search {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: solid white;
	border-bottom: solid black 1px;
	background-color: #b0a18e;
	position: fixed;
	width: 100%;
	z-index: 1000;
}

.search-result-header {
	padding-top: 20px;
	position: fixed;
	width: 100%;
	z-index: 1000;
	background-color: white;
	border-bottom: solid black 1px;
}
.search-result-header > div > h1 {
	padding: 0px;
}
.search-result-header > div > label {
	margin-top: 20px;
	height: 34px;
}

.search-result-content {
	padding-top: 119px;
}

.result-row {
	padding-bottom: 30px;
}

.result-tile > div > img {
	max-height: 150px;
	max-wdith: 150px;
	min-height: 50px;
	min-width: 50px;
}
.result-tile > label {
	padding-top: 10px;
}

.green {
	color: green;
}

.red {
	color: red;
}