<div class="row">
    <h1 id="beer-info-title">{{beer.name}}</h1>
    <label id="brewery-link-title">
        <a href="#/brewery-info/{{brewery.id}}">{{brewery.name}}</a>
    </label>
</div>
<div class="row">
    <label class="col-xs-3 col-sm-2 col-md-1 rating">Smell:</label>
    <div class="col-xs-9 col-sm-10 col-md-11">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
</div>
<div class="row">
    <label class="col-xs-3 col-sm-2 col-md-1 rating">Taste:</label>
    <div class="col-xs-9 col-sm-10 col-md-11">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
</div>
<div class="row">
    <label class="col-xs-3 col-sm-2 col-md-1 rating">Hops:</label>
    <div class="col-xs-9 col-sm-10 col-md-11">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star"></span>
    </div>
</div>
<div class="row">
    <label class="col-xs-3 col-sm-2 col-md-1 rating">Malts:</label>
    <div class="col-xs-9 col-sm-10 col-md-11">
        <span class="glyphicon glyphicon-star"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
        <span class="glyphicon glyphicon-star-empty"></span>
    </div>
</div>
<div id="beer-description" class="row">
    <h3>Description</h3>
    <p>{{beer.description}}</p>
</div>