<div class="row">
    <div class="col-sm-12">
        <h3>Comments/Reviews</h3>
    </div>
</div>
<form id="beer-comment-form">
    <div class="container-fluid">
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Smell:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="star-input" ng-repeat="star in com.starArrays.smell track by $index">
                    <span ng-if="!star"
                          class="glyphicon glyphicon-star-empty"
                              ng-click="com.setRating($index, com.starArrays.smell)"></span>
                    <span ng-if="star"
                          class="glyphicon glyphicon-star"
                          ng-click="com.setRating($index, com.starArrays.smell)"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Taste:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="star-input" ng-repeat="star in com.starArrays.taste track by $index">
                    <span ng-if="!star"
                          class="glyphicon glyphicon-star-empty"
                          ng-click="com.setRating($index, com.starArrays.taste)"></span>
                    <span ng-if="star"
                          class="glyphicon glyphicon-star"
                          ng-click="com.setRating($index, com.starArrays.taste)"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Hops:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="star-input" ng-repeat="star in com.starArrays.hops track by $index">
                    <span ng-if="!star"
                          class="glyphicon glyphicon-star-empty"
                          ng-click="com.setRating($index, com.starArrays.hops)"></span>
                    <span ng-if="star"
                          class="glyphicon glyphicon-star"
                          ng-click="com.setRating($index, com.starArrays.hops)"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Malts:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="star-input" ng-repeat="star in com.starArrays.malts track by $index">
                    <span ng-if="!star"
                          class="glyphicon glyphicon-star-empty"
                          ng-click="com.setRating($index, com.starArrays.malts)"></span>
                    <span ng-if="star"
                          class="glyphicon glyphicon-star"
                          ng-click="com.setRating($index, com.starArrays.malts)"></span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control"
                          rows="5"
                          placeholder="Enter free form comment here!"
                          ng-if=com.isLoggedIn
                          ng-model="com.newComment.comment"></textarea>
                <textarea class="form-control"
                          rows="5"
                          placeholder="Please log in to comment!"
                          ng-disabled=!com.isLoggedIn
                          ng-if=!com.isLoggedIn></textarea>
            </div>
        </div>
        <div class="row col-sm-12 text-left">
            <button id="beer-comment-submit"
                    class="btn btn-primary"
                    ng-disabled=!com.isLoggedIn
                    ng-click="com.addComment(com.newComment)">Submit!</button>
        </div>
    </div>
</form>
<div id="user-comments" class="row">
    <div class="container-fluid">
        <div ng-repeat="comment in com.comments track by $index"
             class="comment panel panel-info">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <b>{{comment.username}}</b>
                    <span class="pull-right">{{comment.date | date: "medium"}}</span>
                </h4>
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Smell:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span ng-repeat="star in com.getNumber(comment.smell) track by $index"
                              class="glyphicon glyphicon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Taste:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span ng-repeat="star in com.getNumber(comment.taste) track by $index"
                              class="glyphicon glyphicon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Hops:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span ng-repeat="star in com.getNumber(comment.hops) track by $index"
                              class="glyphicon glyphicon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Malts:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span ng-repeat="star in com.getNumber(comment.malts) track by $index"
                              class="glyphicon glyphicon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="comment-desc">{{comment.comment}}</p>
                    </div>
                </div>
            </div>
            <div ng-if="com.isOwner && !comment.responded"
                 class="panel-footer response">
                <textarea class="form-control"
                          rows="2"
                          placeholder="Enter response here!"
                          ng-model="comment.response"></textarea>
                <button ng-click="com.respond($index, comment)"
                        class="btn btn-danger response-submit">Leave Response</button>
            </div>
            <div ng-if="comment.responded"
                 class="panel-footer response">
                <p>
                    <span class="label label-danger">Official Brewer</span> {{comment.response}}
                </p>
            </div>
        </div>
    </div>
</div>
