<p class="text-left">
    <span class="glyphicon glyphicon-arrow-left"></span>
    <a ng-if="backPageUrl == '#/search-results'"
       href="{{backPageUrl}}/{{backData.option}}/{{backData.text}}">Back to Results</a>
    <a ng-if="backPageUrl == '#/home'"
       href="{{backPageUrl}}">Back to Home</a>
</p>
<div class="text-center">
    <img ng-src={{imgUrl}} alt="Beer Label" class="img-thumbnail img-responsive">
</div>
<form class="form-horizontal">
    <div class="container-fluid">
        <div class="form-group">
            <label class="col-xs-4 col-sm-4 control-label">Price:</label>
            <label class="col-xs-8 col-sm-8 control-label">$8.25</label>
        </div>
        <div class="form-group">
            <label for="quantity" class="col-sm-4 control-label">Amount:</label>
            <div class="col-sm-offset-3 col-sm-5">
                <input id="quantity" type="number" class="form-control" min="1" value="1">
            </div>
        </div>
        <div class="col-sm-12 text-center">
            <a href="#/cart" class="btn btn-success btn-block">Add To Cart</a>
        </div>
    </div>
</form>