<div class="row">
    <div class="col-sm-12">
        <h3>Comments/Reviews</h3>
    </div>
</div>
<form id="beer-comment-form">
    <div class="container-fluid">
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Smell:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Taste:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Hops:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="row">
            <label class="col-xs-3 col-sm-2 col-md-1">Malts:</label>
            <div class="col-xs-9 col-sm-10 col-md-11">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <textarea class="form-control"
                          rows="5"
                          placeholder="Enter free form comment here!"
                          ng-if=isLoggedIn
                          ng-model="newComment.comment"></textarea>
                <textarea class="form-control"
                          rows="5"
                          placeholder="Please log in to comment!"
                          ng-disabled=!isLoggedIn
                          ng-if=!isLoggedIn></textarea>
            </div>
        </div>
        <div class="row col-sm-12 text-left">
            <button id="beer-comment-submit"
                    class="btn btn-primary"
                    ng-disabled=!isLoggedIn
                    ng-click="addComment(newComment)">Submit!</button>
        </div>
    </div>
</form>
<div id="user-comments" class="row">
    <div class="container-fluid">
        <div ng-repeat="comment in comments" class="comment panel panel-success">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <b>{{comment.username}}</b>
                    <span class="pull-right">{{comment.date | date: "medium"}}</span>
                </h4>
                <!--
                <div class="comment-title row">
                    <div class="col-xs-9">
                        <h4>{{comment.username}}</h4>
                    </div>
                    <div class="col-xs-3 text-right">
                        {{comment.date | date: "medium"}}
                    </div>
                </div>
                -->
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Smell:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Taste:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Hops:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-3 col-sm-2 col-md-1">Malts:</label>
                    <div class="col-xs-9 col-sm-10 col-md-11">
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p>{{comment.comment}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
