<h1>Trending Beers</h1>
<div class="row result-row">
    <div ng-repeat="beer in model.beers" class="col-sm-2 result-tile center-block text-center">
        <div>
            <img ng-if="beer.labels.medium != undefined"
                 ng-src={{beer.labels.medium}}
                 alt="Beer Label"
                 class="img-thumbnail img-responsive">
            <img ng-if="beer.labels.medium == undefined"
                 src="./img/generic_beer.png"
                 alt="Beer Label"
                 class="img-thumbnail img-responsive">
        </div>
        <label><a href="#/beer-info/{{beer.id}}">{{beer.name}}</a></label>
    </div>
</div>

<h1>Trending Breweries</h1>
<div class="row result-row">
    <div ng-repeat="brewery in model.breweries" class="col-sm-2 result-tile center-block text-center">
        <div>
            <img ng-if="brewery.images.medium != undefined"
                 ng-src={{brewery.images.medium}}
                 alt="Brewery Image"
                 class="img-thumbnail img-responsive">
            <img ng-if="brewery.images.medium == undefined"
                 src="./img/generic_brewery.jpg"
                 alt="Brewery Image"
                 class="img-thumbnail img-responsive">
        </div>
        <label><a href="#/brewery-info/{{brewery.id}}">{{brewery.name}}</a></label>
    </div>
</div>

<div id="legal" class="row">
    <div class="col-sm-offset-4 col-sm-4 text-center">
        <img id="brewerydb" src="http://s3.amazonaws.com/brewerydb/Powered-By-BreweryDB.png">
    </div>
</div>