<div id="search-div" class="row">
    <form class="form-horizontal">
        <div class="col-xs-5 col-sm-6">
            <input ng-model="query.text" id="search" type="text"
                   class="form-control" placeholder="Search Our Inventory!">
        </div>
        <div class="col-xs-4 col-sm-3">
            <select ng-model="query.option"
                    id="search-options"
                    name="options"
                    class="form-control">
                <option value="beer">Beer</option>
                <option value="brewery">Brewery</option>
            </select>
        </div>
        <div class="col-xs-3">
            <button ng-click="search(query)" type="button" class="btn btn-info">Search</button>
        </div>
    </form>
</div>