<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="brew-house-title" class="navbar-brand brew-house-header" href="#/home">Brew House</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul id="link-menu" class="nav navbar-nav navbar-right">
                <li ng-if=!isLoggedIn><a href="#/signup">Sign Up</a></li>
                <li ng-if=!isLoggedIn><a href="#/login">Login</a></li>
                <li ng-if=isLoggedIn><a href="#/profile">{{username}}</a></li>
                <li ng-if=isLoggedIn><a href="#/cart">Shopping Cart</a></li>
                <li ng-if=isLoggedIn><a href="#/dashboard">Beer Dashboard</a></li>
                <li ng-if=isLoggedIn><a id="logout" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>